:root {
    --black:  #212121;
    --active: #2196F3;
    --gray: #757575;
    --white-1: rgba(255, 255, 255, 0.6);
    --white-2: #ffffff;
    --secondary-bg-color:  #2F303A;
    --mainer-bg-color: #E5E5E5;
    --team-bg-color: #F5F4FA;
} 
body {
    font-family: Roboto,sans-serif;
    color: var(--black);
} 
.logo {
    text-decoration: none;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--active);
}
.logotip {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--black);
}
     .section-main {
         background-color:var(--white-2);
     } 
     .footer-end {
         background-color: var(--secondary-bg-color);
     }
     .link-tel {
        text-decoration: none;
      
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px; 
        color: var(--gray) 
     }
     .link-tel:hover {
         color: var(--active);
     }

     .link-mail {
        text-decoration: none;
       
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: var(--gray);
     }
     .link-mail:hover {
        color: var(--active);
      
     }

     .link-active-styles {
      
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        color: var(--black);
        cursor: pointer;
     }
     .link-active-styles:hover {
         color: var(--active);
     }
     
    
    .site-nav .current {
            color: var(--active);
     }

     .link-active:hover{
         color: var(--active);
     }
     .link-active {
         text-decoration: none;
         font-family: Raleway,sans-serif;
         font-style: normal;
         font-weight: 700;
         font-size: 26px;
         line-height: 31px;
         color: var(--active);
     }
     .link-active:focus {
         text-decoration: none;
     }
     .link-active-studio {
        text-decoration: none;
        font-family: Raleway,sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        color: var(--black);
     }
     
     .section-service {
        background: var(--secondary-bg-color);
     }
     h1 {
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
     
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
       
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;        
        background: var(--secondary-bg-color);
         color: var(--white-2);
     }
     .link-active-styles {
        text-decoration: none;
       
       
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration: none;
         color: var(--black);
     }
     .link-active-styles:hover {
        text-decoration: none;
         color: var(--active);
     }
     .link-active-service {
         margin-left: 50px;
       
        
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        background: var(--active);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: 1px solid transparent;
        border-radius: 4px;
        text-decoration: none;
        color: var(--white-2);
        
     }
     .link-active-button {
       
       
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
         letter-spacing: 0.03em;
         color: var(--black);
         box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
         border-radius: 4px;
     }
         
     .link-active-button:hover {
           background-color: var(--active);
           color: var(--white-2);
     }

     .btn {
       
       
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
      
        
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--black);
        border-radius: 4px;
     }
     .btn:hover {
        background-color: var(--active);
           color: var(--white-2);

           
     }
     .portfolio-li {
         text-decoration: none;
     }
     .portfolio-h {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 20px;

       
       
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
       color: var(--black);
     
        letter-spacing: 0.06em
        
      
     }
     .link-title {
        width: 270px;
        height: 75px;
        left: 515px;
        top: 800px;
      
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;

        letter-spacing: 0.03em;
        color: var(--gray);
     }
     .link {
      
        font-weight: 500;
        font-size: 14px;
        line-height: 1,14;
        text-decoration: none;
        color: var(--black);
     }
     h2 {
        width: 376px;
        
      
       
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
         color: var(--black);
     }
    .link-title-desinger {
        width: 134px;
        height: 19px;
        left: 1183px;
        top: 1925px;
      
      
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--black);
    }
    .link-title-product {
        width: 151px;
        height: 19px;
        left: 275px;
        top: 1925px;
      
       
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
      
        text-align: center;
        color: var(--black)
    }
    .link-title-marketing {
       
      
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--black);
    }
    .link-title-developer {
        width: 109px;
        height: 19px;
        left: 596px;
        top: 1925px;
      
        
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--black);
    }
   h3 {
   
   
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
  
    letter-spacing: 0.06em;
   }
   .section-contentc {
       background-color:  var(--team-bg-color);
   }
   .footer-contentc {
       background-color: var(--secondary-bg-color);
   }

   .logo-white {
       color: var(--white-2);
   }

   .siti {
       color: var(--white-2);
       font-family: Roboto;
      
       font-weight: normal;
       font-size: 14px;
       line-height: 1.71;

       letter-spacing: 0.03em;
   }